.stickman-container {
  position: relative;
  width: 160px;
  height: 300px;
  margin: 20px auto;
}

.gallows {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 300px;
  z-index: 1;
}

.stickman {
  position: absolute;
  top: 7.5rem;
  left: 62%;
  transform: translateX(-50%);
  z-index: 2;
}

.stickman-part {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.stickman-part.head {
  top: 1px;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
}

.stickman-part.body {
  top: 30px;
  width: 10px;
  height: 60px;
  background-color: black;
}

.stickman-part.arm-left {
  top: 40px;
  left: -40px;
  width: 40px;
  height: 8px;
  background-color: black;
  transform-origin: right;
  transform: rotate(-30deg);
}

.stickman-part.arm-right {
  top: 40px;
  left: 0;
  width: 40px;
  height: 8px;
  background-color: black;
  transform-origin: left;
  transform: rotate(30deg);
}

.stickman-part.leg-left {
  top: 80px;
  left: -42px;
  width: 40px;
  height: 8px;
  background-color: black;
  transform-origin: right;
  transform: rotate(-50deg);
}

.stickman-part.leg-right {
  top: 80px;
  left: 2px;
  width: 40px;
  height: 8px;
  background-color: black;
  transform-origin: left;
  transform: rotate(50deg);
}
