body,
html {
  min-height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App {
  text-align: center;
  width: 700px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 100vh;
  overflow: auto;
}

.scoreboard {
  margin-bottom: 15px;
}

.scoreboard p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #555;
}

.reset-button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #e0a800;
}

.game-over p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .App {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .scoreboard {
    margin-bottom: 10px;
  }

  .stickman-container,
  .keyboard {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
