body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bdbebc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #333;
  text-align: center;
}

.App {
  background-color: white;
  padding: 1.3rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.word {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 1rem;
}

.letter {
  padding: 0 0.2rem;
  margin: 0 0.2rem;
  font-family: monospace;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letter-button.correct {
  background-color: #28a745;
  color: white;
}

.letter-button.wrong {
  background-color: #dc3545;
  color: white;
}

.letter-button:disabled {
  cursor: not-allowed;
}

.scoreboard {
  text-align: center;
  margin-bottom: 20px;
}

.scoreboard p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
